* {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .clear {
    margin-top: 50px;
  }
  
  #author {
    width: 100%;
    height: 4%;
    font-size: 1.3em;
  }
  
  .is-h {
    margin-top: 2%;
  }
  
  #comment {
    width: 100%;
    font-size: 1.5em;
  }
  
  .is-button {
    cursor: pointer;
    color: white;
    background-color: blue;
    width: 25%;
    height: 50px;
    margin-top: 1%;
    outline: none; /* Убираем линию вокруг кнопки при нажатии */
    font-size: 1.2em;
    border: none;
    transition: all 0.3s ease-out;
  }
  
  .is-button:hover {
    color: black;
    background: rgb(43, 166, 175);
  }

  .comment {
    border: 1px solid gray; 
    margin-top: 1%; 
    border-radius: 5px; 
    padding: 0.5%;
  }